.container{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 32px;

    .botao{
        display: flex;
        align-items: center;
        justify-content: center;
        padding:15px 28px;
        border-radius: 8px;
        background-color:#9333EA;
        color: #F9FAFB;
        border:none;
        cursor: pointer;
    }
}